<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SAML Discovery Service</title>
  <link rel="stylesheet" type="text/css" href="css/screen.css">
  {% if useLogos %}
  <link rel="stylesheet" type="text/css" href="logo/idp/logo.css">
  {% endif %}
</head>
<body>
    <div class="header">
        {% block header %}{% endblock %}
    </div> <!-- header -->
    <div class="container">
        {% block container %}{% endblock %}
    </div> <!-- container -->

    <div class="footer">
        Powered by <a href="https://github.com/fkooman/php-saml-ds">php-saml-ds</a>
    </div> <!-- footer -->
    <script src="js/filter.js"></script>
</body>
</html>
