<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/screen.css">
    <title>Discovery</title>
</head>
<body>
    <div id="entity-list">
        <input tabindex="1" type="text" autofocus="true" class="fuzzy-search" size="30" placeholder="Search for an institution...">
        <ul class="list">
            {% for key, entity in discoEntities %}
                <li>
                    <a tabindex="{{ key + 2 }}" href="{{ entity.returnTo }}">
                        <!-- <img src="{{ entity.idpLogo }}"> -->
                        <span class="name">{{ entity.displayName }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="js/list.min.js"></script>
    <script src="js/discovery.js"></script>

</body>
</html>
