<?php

return [
    // set secureCookie flag, so browser only sends them over HTTPS
    'secureCookie' => false,

    // list of SPs for which this service performs discovery
    'spList' => [
        'https://labrat.eduvpn.nl/saml' => [
            // the "displayName" for this SP
            'displayName' => 'eduVPN development server',

            // list of IdPs shown in the discovery for this SP
            'idpList' => [
                'https://idp.surfnet.nl',
                'https://idp.surf.nl',
                'https://www.onegini.me',
                'https://idp.tuxed.net/simplesamlphp/saml2/idp/metadata.php',
            ],
        ],
    ],
];
