<?php

return [
    // set secureCookie flag, so browser only sends them over HTTPS
    'secureCookie' => false,

    // whether or not to display logos on the discovery page, these are 
    // extracted from the (IdP) metadata if available
    'useLogos' => false,

    // list of SPs for which this service performs discovery
    'spList' => [
        // the entityID of the SP
        'https://labrat.eduvpn.nl/saml' => [
            // the "displayName" for this SP
            'displayName' => 'My SAML SP',

            // list of entityIDs of the IdPs that are shown in the discovery
            // page. Their information is extracted from the SAML metadata
            'idpList' => [
                'https://idp.example.org',
                'https://idp.example.net',
            ],
        ],
    ],
];
